DOMAIN = "localhost"
NODE_ENV = "development"

HTTP_DEVELOPMENT_PORT = "3000"

STORAGE_STATUS = "true"

DISPLAY_ERROR_OUTPUT = "true"

LOG_MAX_FILES = "30d"
LOG_MAX_SIZE = "20m"
LOG_FREQUENCY = "24h"
LOG_ZIPPED_ARCHIVE = "true"

LOG_STORAGE_PATH = "./logs"

MAX_JSON_SIZE = "2mb"
